* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: rgb(41, 41, 41);
	overflow: hidden;
}

h1 {
	color: white;
	font-size: 4rem;
	text-align: center;
	line-height: 100vh;
}

span {
	opacity: 0;
	transition: 1s all ease;
	transform: translateY(50px);
	display: inline-block;
	color: blue;
}

span.fade {
	opacity: 1;
	transform: translateY(0px);
	color: white;
}